/* Mobile First */
.game {
  min-height: 90vh;
  padding: 2vh 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.board {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.gameOver {
  padding-top: 10vh;
  height: 10vh;
}

.gameOver h2{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* iPads & Tablets */
@media (min-width: 479.999px) {
  .game {
    padding: 3vh 0;
  }

  .board {
    width: 480px;
  }

  .gameOver h2{
    font-size: 2em;
    margin-bottom: 2rem;
  }
}

/* Small screens */
@media (min-width: 767.999px) {
  .game {
    padding: 3vh 0;
  }

  .board {
    width: 700px;
  }
}

/* Medium screens */
@media (min-width: 1439.999px) {
  .game {
    padding: 1vh 0;
  }
}

/* Large screens */
@media (min-width: 1919.999px) {
  .game {
    padding: 3vh 0;
  }
  .board {
    width: 900px;
  }
}
