/* Mobile First */
.game {
  padding: 5vh 0;
  margin: 0 auto;
}

.board {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.row {
  width: 400px;
  justify-content: space-evenly;
  display: flex;
}

.message {
  height: 10vh;
  color: white;
}
