/* Mobile First */
.game {
  min-height: 90vh;
  padding: 2vh 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.board {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.message {
  height: 10vh;
  color: white;
}

/* iPads & Tablets */
@media (min-width: 479.999px) {
  .game {
    padding: 3vh 0;
  }

  .board {
    width: 480px;
  }
}

/* Small screens */
@media (min-width: 767.999px) {
  .game {
    padding: 3vh 0;
  }

  .board {
    width: 700px;
  }
}

/* Medium screens */
@media (min-width: 1439.999px) {
  .game {
    padding: 1vh 0;
  }
}

/* Large screens */
@media (min-width: 1919.999px) {
  .game {
    padding: 3vh 0;
  }
  .board {
    width: 900px;
  }
}
