/* Mobile First */
.difficultyRange {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 80px;
}

.difficultyRange label {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.difficultyRange input {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.difficultyRange input:disabled {
  opacity: 0.2;
}

.difficultyRange input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
}

.difficultyRange input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
}

/* Small screens */
@media (min-width: 767.999px) {
  .difficultyRange {
    width: 200px;
    height: 80px;
  }

  .difficultyRange input::-webkit-slider-thumb {
    width: 50px;
  }

  .difficultyRange label {
    font-size: 1.5em;
  }
}

/* Small screens desktop */
@media (min-width: 1023.999px){
  .difficultyRange {
    width: 120px;
    height: 80px;
  }

  .difficultyRange input::-webkit-slider-thumb {
    width: 30px;
  }

  .difficultyRange label {
    font-size: 1.5em;
  }
}