/* Mobile First */

.cardContainer {
  margin: .5rem;
  width: 85px;
  height: 125px;
  -webkit-perspective: 1500;
}

.cardContainer:hover {
  border-radius: 85;
  background: #1f3756;
  box-shadow: -5px -5px 10px #1a2e47, 5px 5px 10px #244065;
}

.invisible {
  visibility: hidden;
}

.card,
.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
}

.front {
  overflow: hidden;
  backface-visibility: hidden;
}

.front h1 {
  position: relative;
  padding: 35px 0;
}

.back {
  -webkit-transform: rotateY(180deg);
}

.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
