*{
  font-family: Helvetica;
  padding: 0;
  margin: 0 auto;
}

html,
body {
  background-image: radial-gradient(circle at top,rgb(31, 55, 86), rgb(20, 21, 57));
  background-repeat: no-repeat center center fixed;;
  height: 100%;
}

hidden {
  display: none !important;
  visibility: hidden;
}